# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Uncomment this if you use Asset Store Tools and want to ignore them
# [Aa]ssets/AssetStoreTools*

# JetBrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio and JetBrains project files
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Meta files generated for debug symbols
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash report
sysinfo.txt

# Build output
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics
crashlytics-build.properties

# Addressables (ignore build files but keep the config data)
[Aa]ssets/AddressableAssetsData/*/*.bin*

# StreamingAssets auto-gen (remove this line if you use .dylib/.7z yourself)
[Aa]ssets/StreamingAssets/aa.meta
[Aa]ssets/StreamingAssets/aa/

# Mac system files
.DS_Store
